.header {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding: 24px 0;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
}

.logoWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    list-style: none;
}

.accent {
    color: var(--main-color);
}

.navList {
    display: flex;
    gap: 20px;
}

.navItemContainer {
    position: relative;
}

.active {
    display: inline-block;
    position: relative;
}

.active::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
   
    background-color: var(--main-color);
}

.btnContainer {
    display: flex;
    gap: 8px;
    align-items: center;
}

.userBadge {
    display: flex;
    gap: 14px;
    align-items: center;
}

.userAvatar {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background-color: var(--main-color);

    display: flex;
    align-items: center;
    justify-content: center;

}

.userIcon {
    fill: var(--background-lighter);
}

.userName {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.01em;
    color: var(--text-dark);
}

@media screen and (min-width: 375px) {
    .logoWrapper {
        flex-direction: row;
        gap: 12px;
        align-items: normal;
    }

    .navList {
        display: flex;
        gap: 40px;
    }

    .userBadge {
        margin-right: 20px;
    }
}

@media screen and (min-width: 1027px) {
    .headerContainer {
        flex-direction: row;
    }
}